%header
  %h1 Wedding Insurance Reviews UK 2011
  .container_12
    .grid_6
      = image_tag 'happy-couple.jpg'
    .grid_6
      %h2 We've picked and reviewed the best wedding insurances in UK 
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
%section.step-one
  .container_12
    .grid_12
      %h2 
        Step 1: 
        %em Select your wedding budget
    .grid_12
      %ul
        %li= link_to 'Less than £5,000', '#'
        %li= link_to 'up to £10,000', '#'
        %li= link_to 'up to £15,000', '#'
        %li= link_to 'up to £20,000', '#'
        %li= link_to 'up to £30,000', '#'
        %li= link_to 'up to £50,000', '#'
        %li= link_to '£50,000+', '#'
